<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MTG Deck Builder</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<div class="header">
	<img src="https://i.pinimg.com/originals/5b/8d/35/5b8d354c534c5f4f3404c84a12d892eb.jpg" alt="symbol">
	<h1>Bestusdeckus</h1>
</div>



<body>
	{{{ body }}}
</body>

</html>