button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}
/* 
#jumbo {
  background-image: url("http://1.bp.blogspot.com/-ImJS9jXGbtc/VK0gpFb_h5I/AAAAAAAADE8/tUZ5x6j7Yjs/s1600/mtg_banner.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 126px;
  width: 600px;

} */

/* .jumbotron {
  background-color: transparent;
} */

h1 {
  color: white;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
  text-decoration: underline;
  font-size: 50px;
}

body {
  background-color: black;
}

#filter {
  border: 2px solid;
  border-color: silver;
  background-color: maroon;
}

#white {
  background-color: white;
}

.header img {
  float: left;
  width: 60px;
  height: 60px;
}

#deckName {
  padding-left: 15px;
}






  
  form#cms {
    margin-top: 50px;
  }
  
  #cms textarea {
    resize: none;
  }
  
  #wrap {
    width:1200px;
    margin:auto;
    vertical-align:top!important;
  }
  
  #leftwrap {
    float:left;
    width:920px;
  }
  
  #rightwrap {
    float:left;
    width:235px;
  }
  
  .dc_card {
    overflow: hidden;
    width: 180px;
    height: 251px;
    transition-duration: 200ms;
    transition-property: filter;
    filter: saturate(.7);
  }

  /* .dc_cardpict:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
  } */
  
  .dc_ib {
    display: inline-block;
  }
  
  .dc_point {
    cursor: pointer;
  }
  
  .dc_cname {
    overflow:hidden;
    width:250px;
    height:31px!important;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:white;
  }
  
  .dc_ccc {
    font-size:16px;
    line-height:31px;
    position:relative;
    z-index:1;height:31px;
    vertical-align:top;
  }
  
  .dc_ib {
    display:inline-block;
  }
  
  .form-group {
    color: white;
  }
