button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

#jumbo {
  background-image: url("http://1.bp.blogspot.com/-ImJS9jXGbtc/VK0gpFb_h5I/AAAAAAAADE8/tUZ5x6j7Yjs/s1600/mtg_banner.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 126px;
  width: 600px;

}

.jumbotron {
  background-color: transparent;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  text-decoration: underline;
}

body {
  background-color: black;
}

#filter {
  border: 2px solid;
  border-color: silver;
  background-color: maroon;
}

#white {
  background-color: white;
}




