#filter {
	padding-bottom: 10px
	text-align: center
}

b, strong {
	padding-left: 5px;
}

.btn-group {
	margin: 5px
}
   
.page-wrap {
  padding-top: 0!important
}

.container {
  width: 1200px!important;
  padding-left: 15px!important
}

#deckwrap {
	display: inline-block;
	vertical-align: top
}

#wrap {
  width:1200px;
  margin:auto;
  vertical-align:top!important
}

#leftwrap {
  float:left;
  width:920px
}

#leftContainer {
  display:inline-block;
  overflow:hidden;
  width:915px;
  height:780px;
  margin-right:5px;
  margin-bottom:5px;
  padding:6px;
  border-radius:4px;
  background-color: rgb(60, 55, 55)
}

#thedeck {
	position: relative;
	display: inline-block;
	width: 220px;
	height: 780px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: rgb(60, 55, 55)
}

.dc_card {
  overflow: hidden;
  width: 180px;
  height: 251px;
  transition-duration: 200ms;
  transition-property: filter;
  filter: saturate(.7)
}

.dc_ib {
  display: inline-block
}

.dc_point {
  cursor: pointer
}

.dc_cname {
  overflow:hidden;
  width:220px;
  height:31px!important;
  white-space:nowrap;
  text-overflow:ellipsis;
  color:white;
  font-family:  'Roboto', sans-serif
}

.dc_ccc {
  font-size:16px;
  line-height:31px;
  position:relative;
  z-index:1;height:31px;
  vertical-align:top
}

.dc_ib {
  display:inline-block
}

.form-group {
  color: white
}

#rightContainer {
  position:relative;
  display:inline-block;
  width:280px;
  min-height:600px;
  margin-bottom:5px;
  border-radius:5px;
  background-color:brown
}

#wrap {
  width:1200px;
  margin:auto;
  vertical-align:top!important
}

.dc_drow {
	line-height: 31px;
	position: relative;
	width: auto;
	height: 31px;
	transition-duration: 100ms;
	transition-property: filter;
	color: #fff!important;
	border-bottom: solid 1px #36221e;
	text-shadow: 0 1px 1px #000
}

.dc_drow:hover {
	filter: brightness(1.2)
}

.dc_cardintext {
	cursor: pointer
}

.dc_grad_overlay {
	position: absolute;
	z-index: 1;
	bottom: 0;
	display: block;
	width: 220px;
	height: 30px
}

.dc_pict_overlay {
	position: absolute;
	z-index: 0;
	bottom: 0;
	display: block;
	width: 220px;
	height: 30px
}

.dc_ccopies {
	font-weight: 700;
	line-height: 27px;
	float: left;
	width: 23px;
	height: 27px!important;
	margin-top: 2px;
	margin-right: 2px;
	text-align: center;
	color: #fff!important;
}

@media only screen and (max-width:1200px) {
	.container {
		width: 1060px!important;
		padding-left: 15px!important
	}
	#wrap {
		width: 1060px!important
	}
	#leftContainer {
		width: 773px
	}
	#leftwrap {
		width: 779px
	}
	#left {
		width: 1060px
  }
  #thedeck {
		width: 175px
	}
}

@media only screen and (max-width:1100px) {
	#wrap {
		width: 850px
	}
	.container {
		width: 850px!important;
		padding-left: 15px!important
	}
	#leftwrap {
		width: 615px
	}
	#leftContainer {
		overflow-x: auto;
		overflow-y: hidden;
		width: 610px;
	}
	#left {
		width: 850px;
		height: auto;
		margin-bottom: 2px
	}
	#right {
		width: 850px;
		margin-left: 0
	}
	#rightwrap {
		float: left;
		width: 175px
	}
	#thedeck,
	.dc_grad_overlay,
	.dc_pict_overlay {
		width: 175px;
	}
}

@media only screen and (max-width:820px) {
	#dc_main {
		width: 100%
	}
	#wrap {
		width: 100%!important;
		margin: auto;
		text-align: center!important
	}
	.container {
		width: 100%!important
	}
	#leftContainer {
		overflow: auto;
		width: 100%!important;
		height: auto;
		border: none
	}
	#rightwrap,
	#leftwrap {
		width: 100%;
		text-align: center
	}
	.dc_cardpict {
		display: none!important
	}
	.dc_littlecard {
		display: inline-block;
		overflow: hidden;
		width: 98%;
		height: 70px;
		margin: 2px;
		padding: 3px;
		border: solid 1px #36221e;
		border-radius: 4px;
		background-color: #dfd7c1
	}
	.dc_card {
		overflow: visible;
		width: 33%;
		height: auto
	}
	#left {
		width: 100%
	}
	#filters {
		height: auto;
		text-align: center
	}
	.dc_grad_overlay,
	.dc_pict_overlay {
		width: 175px
	}
	#thedeck {
		max-width: 175px;
		height: auto;
		vertical-align: top!important
	}
	#deckwrap {
		width: 100%;
		text-align: center
	}
}

@media only screen and (max-width:630px) {
	.dc_stat {
		width: 24%!important
	}
	.dc_card {
		width: 50%;
		height: auto
	}
}

@media only screen and (max-width:425px) {
	.dc_stat {
		width: 48%!important
	}
}